* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
}

.overlayy {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FBE9E7;
	opacity: 0.5;
	z-index: -1;
}

.background {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("../images/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	filter: blur(6px);
	-webkit-filter: blur(6px);
	z-index: -1;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#countdownTimer {
	background: white;
	padding: 10px;
	margin-bottom: 1rem;
	border-radius: 10px;
}

.info {
	width: 2rem;
	height: 2rem;
	position: fixed;
	top: 20px;
	right: 16px;
	cursor: pointer;
}

.restart {
	width: 2rem;
	height: 2rem;
	position: fixed;
	top: 20px;
	left: 16px;
	cursor: pointer;
}

.back {
	width: 2rem;
	height: 2rem;
	position: fixed;
	top: 20px;
	left: 60px;
	cursor: pointer;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10% auto;
	position: relative;
	z-index: 2;
}

.four {
width: 80px;
height: 80px;
}

.six {
	width: 60px;
	height: 60px;
}

.eight {
	width: 50px;
	height: 50px;
}

.win-modal {
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}


.win-modal button {
	padding: 10px;
	background-color: #bcaaa4;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 1rem;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	border-radius: 2rem;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}

.modal-info {
	padding: 20px;
}

.modal-title {
	margin-bottom: 2rem;
	font-size: 18px;
	font-weight: bold;
}

.close {
	color: #aaa;
	float: right;
	font-size: 16px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


.title {
	color: black;
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 20px;
	margin-top: -70px;
}

#currentBoardSize {
	margin-top: 10px;
}

.btn {
	padding-left: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

table {
	border-collapse: collapse;
	margin: 20px;
}

td {

	border: 1px solid white;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.buttons {
	margin-left: 0.8em;
	margin-bottom: 1.5rem;
	width: 150px;
	height: 50px;
	background-color: #95abb5;
	border-radius: 8px;
	box-shadow: 9px 9px 12px #242425, -9px -9px 12px #a1a1a1;
	color: black;
	cursor: pointer;
	font-weight: bolder;
	font-size: 14px;
	text-transform: capitalize;
	text-align: center;
	border: none;
	cursor: pointer;
}

.button1 {
	margin-left: 0.8em;
	margin-bottom: 1rem;
	width: 75px;
	height: 50px;
	background-color: #BCAAA4;
	border-radius: 8px;
	box-shadow: 9px 9px 12px #242425, -9px -9px 12px #EFEBE9;
	color: black;
	cursor: pointer;
	font-weight: bolder;
	font-size: 14px;
	text-transform: capitalize;
	text-align: center;
	border: none;
	cursor: pointer;
}

.buttons:hover {
	box-shadow: inset 4px 4px 6px #a7b6d2, inset -3px -3px 6px #9ca0ab;
}

.button1:hover {
	box-shadow: inset 4px 4px 6px #FBE9E7, inset -3px -3px 6px #9ca0ab;
}

.button:hover img {
	transform: scale(1.5);
}

#hintButton {
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	outline: none;
}

#hintButton img {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.button {
	width: 2rem;
	height: 2rem;
	position: fixed;
	top: 20px;
	right: 60px;
	cursor: pointer;
}

.left {
	margin-left: 100px;
}
@media only screen and (max-width: 600px) {


.main {
	margin: 25% auto;
}


table {
	margin-top: 10%;
}

.left {
	margin-left: 0px;
}

.eight {
	width: 40px;
	height: 40px;
}

	.title {
	  position: absolute;
	  top: 40px; 
	  left: 50%;
	  transform: translateX(-50%);
	  text-align: center;
	  width: 100%;
	}
  
	.game_board {
	  margin-top: 60px;
	  position: relative;
	}
  
	.button-container {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  position: absolute;
	  top: 100%; 
	  left: 50%;
	  transform: translateX(-50%);
	  margin-top: 10px; 
	}
  
	.buttons {
	  margin-top: 10px; 
	}

	.title h1, .title p {
	  padding: 5px; 
	}
  
	#currentBoardSize {
	  margin-top: 3px; 
	  padding: 5px; 
	}
  }
  